
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    <link href="~/Content/MyMainStyle/DangKyStyle.css" rel="stylesheet" />
}

@*HTML trang Đăng Ký*@
<div id="content">
    <h2>Thông tin đăng ký</h2>
    <form class="form-auth">
        <div class="form-group">
            <label for="sodienthoai">Số điện thoại</label>
            <input type="tel" placeholder="Số điện thoại" name="sodienthoai" id="sodienthoai" required minlength="10" />
        </div>

        <div class="form-group">
            <label for="tendangnhap">Tên đăng nhập</label>
            <input type="text" placeholder="Tên đăng nhập hoặc email" name="tendangnhap" id="tendangnhap" required />
        </div>

        <div class="form-group">
            <label for="tendangnhap_xacnhan">Xác nhận tên đăng nhập</label>
            <input type="text" placeholder="Nhập lại tên đăng nhập hoặc email" name="tendangnhap_xacnhan" id="tendangnhap_xacnhan" required />
        </div>

        <div class="form-group">
            <label for="matkhau">Mật khẩu</label>
            <input type="password" placeholder="Mật khẩu" name="matkhau" id="matkhau" required />
        </div>

        <div class="form-group">
            <label for="matkhau_xacnhan">Xác nhận mật khẩu</label>
            <input type="password" placeholder="Nhập lại mật khẩu" name="matkhau_xacnhan" id="matkhau_xacnhan" required />
        </div>

        <button type="submit">Đăng Ký</button>

        <a href="#">Đã có tài khoản? Đăng nhập</a>
    </form>
</div>
