
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    <link href="~/Content/MyMainStyle/DangNhapStyle.css" rel="stylesheet" />
}

@*html của trang đăng nhập*@
<div id="content">
    <h2>Thông tin đăng nhập</h2>
    <form class="fm-dangnhap">
        <div class="form-group">
            <label for="tendangnhap">Tên đăng nhập</label>
            <input type="text" placeholder="Tên đăng nhập hoặc email" name="tendangnhap" id="tendangnhap" required />
        </div>

        <div class="form-group">
            <label for="matkhau">Mật khẩu</label>
            <input type="password" placeholder="Mật khẩu" name="matkhau" id="matkhau" required />
        </div>

        <div class="remember-me">
            <input type="checkbox" name="ghinho" id="ghinho" />
            <label for="ghinho">Ghi nhớ đăng nhập</label>
        </div>

        <button type="submit">Đăng Nhập</button>

        <a href="#">Quên mật khẩu?</a>
    </form>
</div>
